<main>
  <% if user_signed_in? || freelancer_signed_in? %>
    <div>
      <%= link_to "Voltar para Página Inicial", root_path %>

      <h1><%= "#{@profile.full_name} (#{@profile.social_name})" %></h1>
      <h3><%= @profile.occupation_area.name %></h3>

      <%= render partial: "photo" %>

      <dl>
        <dt><%= I18n.t(:description, scope: "activerecord.attributes.profile") %></dt>
        <dd><%= @profile.description %></dd>

        <dt><%= I18n.t(:birth_date, scope: "activerecord.attributes.profile") %></dt>
        <dd><%= l @profile.birth_date %></dd>

        <dt><%= I18n.t(:formation, scope: "activerecord.attributes.profile") %></dt>
        <dd><%= @profile.formation %></dd>

        <dt><%= I18n.t(:email, scope: "activerecord.attributes.freelancer") %></dt>
        <dd><%= @profile.freelancer.email %></dd>
      </dl>
    </div>

    <div>
      <h1>Histórico de Experiências</h1>

      <h2><%= link_to "Experiências", profile_experiences_path(@profile) %></h2>
    </div>

    <% if @profile.freelancer == current_freelancer %>
        <ul>
          <li><%= link_to "Editar Perfil", root_path %></li>
        </ul>
    <% end %>
  <% end %>
</main>