<h1>Plataforma Freelancer</h1>
<h2>Bem-vindo(a) a plataforma de freelancing</h2>

<p>Aqui você poderá encontrar projetos, para participar, ou criar o próprio projeto para oferecer aos profissionais.</p>
<% if !(user_signed_in? || freelancer_signed_in?) %>
  <p>Primeiro, basta logar</p>

<% elsif user_signed_in? %>
  <h3>Profissionais disponíveis</h3>

  <% if @freelancers.empty? %>
    <h3>Nenhum projeto encontrado</h3>
  <% end %>

  <% @freelancers.each do |freelancer| %>
    <%= render freelancer %>
  <% end %>

<% elsif freelancer_signed_in? %>
  <h3>Projetos disponíveis</h3>

  <% if @projects.empty? %>
    <h3>Nenhum projeto encontrado</h3>
  <% end %>

  <table>
    <thead>
      <tr>
        <th><%= I18n.t(:title, scope: "activerecord.attributes.project") %></th>
        <th><%= I18n.t(:wanted_skills, scope: "activerecord.attributes.project") %></th>
        <th><%= I18n.t(:max_hour_rate, scope: "activerecord.attributes.project") %></th>
        <th><%= I18n.t(:job_type, scope: "activerecord.attributes.project") %></th>
        <th><%= I18n.t(:user, scope: "activerecord.attributes.project") %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <%= render project %>
      <% end %>
    </tbody>
  </table>
<% end %>