<table>
  <thead>
    <tr>
      <th><%= I18n.t(:title, scope: "activerecord.attributes.project") %></th>
      <th><%= I18n.t(:wanted_skills, scope: "activerecord.attributes.project") %></th>
      <th><%= I18n.t(:max_hour_rate, scope: "activerecord.attributes.project") %></th>
      <th><%= I18n.t(:job_type, scope: "activerecord.attributes.project") %></th>
      <th><%= I18n.t(:user_id, scope: "activerecord.attributes.project") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
  </tbody>
</table>