<tr>
  <td><%= link_to project.title, project_path(project) %></td>
  <td><%= project.wanted_skills %></td>
  <td><%= number_to_currency project.max_hour_rate %></td>
  <td><%= project.job_type.name %></td>
  <td><%= project.user.email %></td>
</tr>