<div>
  <%= link_to "Voltar para Página Inicial", root_path %>

  <%= render @project %>
</div>

<% if @project.user == current_user %>
  <ul>
    <li><%= link_to "Editar Projeto", edit_project_path %></li>
    <li><%= link_to "Deletar Projeto", project_path,
                    method: :delete,
                    data: { confirm: "Tem certeza que deseja deletar o Projeto '#{@project.title}'?" } %></li>
  </ul>

  <hr>

  <%= render "proposals/project_proposals" %>
<% end %>

<% if freelancer_signed_in? %>
  <% if @freelancer_proposal.nil? %>
    <%= link_to "Fazer #{t(:proposal, scope: "activerecord.models")}", new_project_proposal_path(@project) %>
  <% else %>
    <%= render "proposals/freelancer_project_proposal" %>
  <% end %>
<% end %>