<% if user_signed_in? || freelancer_signed_in? %>
  <div>
    <%= link_to "Voltar para Página Inicial", root_path %>

    <h2><%= @project.title %></h2>
    <h3><%= @project.description %></h3>

    <dl>
      <dt><%= I18n.t(:user_id, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= @project.user.email %></dd>

      <dt><%= I18n.t(:wanted_skills, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= @project.wanted_skills %></dd>

      <dt><%= I18n.t(:max_hour_rate, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= number_to_currency @project.max_hour_rate %></dd>

      <dt><%= I18n.t(:deadline, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= l @project.deadline %></dd>

      <dt><%= I18n.t(:job_type, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= @project.job_type.name %></dd>

      <dt><%= I18n.t(:available, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= @project.available? ? "Sim" : "Não" %></dd>

      <dt><%= I18n.t(:status, scope: "activerecord.attributes.project") %>:</dt>
      <dd><%= t(@project.status, scope: "activerecord.attributes.statuses") %></dd>
    </dl>
  </div>

  <% if @project.user == current_user %>
    <p><%= link_to "#{t(:proposals, scope: "activerecord.models")} do Projeto", my_proposals_project_proposals_path(@project) %></p>
    <ul>
      <li><%= link_to "Editar Projeto", edit_project_path %></li>
      <li><%= link_to "Deletar Projeto", project_path,
                      method: :delete,
                      data: { confirm: "Tem certeza que deseja deletar o Projeto '#{@project.title}'?" } %></li>
    </ul>
  <% end %>

  <% if freelancer_signed_in? %>
    <%= link_to "Fazer #{t(:proposal, scope: "activerecord.models")}", new_project_proposal_path(@project) %>
  <% end %>
<% end %>