<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Página Inicial", root_path %>
        <% if user_signed_in?  %>
          <%= current_user.email %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
        <% elsif !freelancer_signed_in? %>
          <p><%= link_to "Entrar como Usuário", new_user_session_path %></p>
        <% end %>
        <% if freelancer_signed_in? %>
          <%= link_to current_freelancer.email, root_path %>
          <%= link_to "Logout", destroy_freelancer_session_path, method: :delete %>
        <% elsif !user_signed_in? %>
          <p><%= link_to "Entrar como Freelancer", new_freelancer_session_path %></p>
        <% end %>
      </nav>

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
